body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.containeer {
    max-width: 600px;
    margin-left:10px;
    padding: 20px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 15px 20px;
    border-bottom: 1px solid #dbdbdb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

header h1 {
    font-size: 24px;
    margin:0;;
    padding:0;
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px;
}

.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}
input[type="text"] {
    width: 200px;
    padding: 8px;
}

.icons {
    font-size: 24px;
}

.icon {
    margin-right: 10px;
    margin-left:70px;
}

main {
    margin-bottom: 20px;
}

.post {
    margin-bottom: 20px;
    margin-left:100px;
    width:300px;
    height:auto;

}

.post img {
    max-width: 100%;
    height: auto;
    margin-top:20px;
    margin-left:100px;
}

.caption {
    font-size: 16px;
    margin-left:100px;
    
}

footer {
    border-top: 1px solid #ddd;
    padding-top: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #dbdbdb;
    padding: 10px 20px;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000; 
    
}

nav ul {
    list-style:none;
    padding: 0;
}

nav ul li {
    display:flex;
    margin-right: 10px;
    justify-content:Center;
    align-items: center;
    float:left;
    list-style: none;
    margin-left: 62px;
    font-size: 14px;

}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size:bold;
}
ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #ff7200;
}


